{:tasks
 {:requires ([clojure.string :as str])
  tidy {:doc "tidy clojure files"
        :task (do (shell {:dir ".big-config"} "clojure-lsp clean-ns")
                  (shell {:dir ".big-config"} "clojure-lsp format"))}
  cluster {:doc "deploy|destroy|plan a cluster with bin/rama-cluster.sh"
           :task (shell {:dir ".big-config"} (format "bb cluster %s" (str/join " " *command-line-args*)))}
  render {:doc "run Terraform"
          :task (shell {:dir ".big-config"} (format "bb render %s" (str/join " " *command-line-args*)))}
  render-ansible {:doc "run Ansible"
                  :task (shell {:dir ".multi"} (format "bb render %s" (str/join " " *command-line-args*)))}}}
