{:deps {amiorin/big-config {:local/root "."}}
 :tasks
 {:requires ([alpha :as alpha]
             [clojure.string :as str])
  :init (defn cluster []
          (-> (str/join " " *command-line-args*)
              (alpha/cluster {:big-config/env :shell})))
  tidy {:doc "tidy clojure files"
        :task (do (shell "clojure-lsp clean-ns")
                  (shell "clojure-lsp format"))}
  help {:doc "the workflow help"
        :override-builtin true
        :task (println "Help")}
  ssh {:doc "cluster"
       :task (alpha/ssh *command-line-args*)}
  cluster {:doc "cluster"
           :task (cluster)}}}
